@model PatiensListViewModel
@{
    ViewData["Title"] = "All Patients";
}
<div>

    <div class="text-center">
        <a class="btn btn-outline-primary float-left" style="margin-top:15px" href="~/Dashboard">Back</a>
        <h1>Patients</h1>
    </div>
    <br />
    <form method="get" asp-controller="Doctor" asp-action="DisplayPatients">
        <div class="input-group">
            <input class="form-control" asp-for="SearchTerm" placeholder="Search by name, email address or flag" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    Search
                </button>
            </div>
        </div>
    </form>

    <br />

    <div style="height: 600px; overflow: auto; ">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>@nameof(PatientViewModel.Name)</th>
                    <th>@nameof(PatientViewModel.EmailAddress)</th>
                    <th>@nameof(PatientViewModel.Notes)</th>
                    <th>@nameof(PatientViewModel.AttentionLevel)</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Patients)
                {
                    <tr>
                        <td>
                            <a asp-action="Messages" asp-controller="Doctor" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @if (item.AttentionLevel == true)
                            {
                                <span class="bg-danger progress-bar">High</span>
                            }
                            else
                            {
                                <span class="bg-success progress-bar">Normal</span>
                            }
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Edit" asp-controller="Doctor" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>     
    </div>
</div>


