@model PatiensListViewModel
<head>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

</head>


<h4> Patients messages</h4>


@foreach (var message in Model.MessageDetails)
{
    if (message.IsRead)
    {
        <div class="panel panel-primary">
            <div class="panel-heading">@message.Name (@message.EmailAddress) @message.Timestamp</div>
            <div class="panel-body">@message.Notes</div>
        </div>
    }
    else
    {
        <div class="panel panel-danger">
            <div class="panel-heading">
                @message.Name (@message.EmailAddress) @message.Timestamp 
                <div style="float:right">
                    <a asp-controller="Patient"  asp-route-id="@message.Id" asp-action="SetMessageAsRead">Mark as read</a>
                </div>
            </div>
            <div class="panel-body">@message.Notes</div>
        </div>
    }

}



